<body style="background-color: #d3d3d3; font-family: Arial; text-align: center;">
    <div style="background-color: #4f81bd; color: white; padding: 20px;">
        <h2>Welcome Admin</h2>
        <button onclick="location.href='/'">LogOut</button>
    </div>
    <div style="margin-top: 50px;">
        <button onclick="location.href='/maintain_user'"style="padding: 20px; width: 200px;">Maintain User</button>
        <button onclick="location.href='/maintain_vendor'"style="padding: 20px; width: 200px;">Maintain Vendor</button>
    </div>
</body>