<body style="background-color: #d3d3d3; font-family: Arial; text-align: center;">
    <div style="background-color: #2e548a; color: white; padding: 40px; width: 300px; margin: 50px auto; border-radius: 20px;">
        <h4>Update Status</h4>
        <div style="text-align: left; display: inline-block;">
            <input type="radio" name="st"> Received<br>
            <input type="radio" name="st"> Ready for Shipping<br>
            <input type="radio" name="st"> Out For Delivery
        </div>
        <br><br>
        <button onclick="alert('Status Updated!'); location.href='/vendor_status'" style="padding: 10px 20px;">Update</button>
    </div>
</body>
 