<body style="background-color: #d3d3d3; font-family: Arial; text-align: center;">
    <div style="background-color: #4f81bd; color: white; padding: 10px;">
        <h3>WELCOME USER</h3>
    </div>
    <div style="display: flex; justify-content: center; gap: 20px; margin-top: 30px;">
        <div style="background-color: #2e548a; color: white; padding: 20px; border-radius: 15px;">
            <h4>Vendor </h4>
            <select style="float: right;">
                    <option>Catering</option>
                    <option>Florist</option>
                    <option>Decoration</option>
                    <option>Lighting</option>
                </select>
            <button onclick="location.href='/products'" style="background-color: white;">Shop Item</button>
        </div>
        <div style="background-color: #2e548a; color: white; padding: 20px; border-radius: 15px;">
            <h4>Cart</h4>
            <button onclick="location.href='/cart'"  style="background-color: white;">Cart</button>
        </div>
        <div style="background-color: #2e548a; color: white; padding: 20px; border-radius: 15px;">
            <h4>Guest List</h4>
            <button onclick="location.href='/maintain_guest'"  style="background-color: white;">Show</button>
        </div>
        <div style="background-color: #2e548a; color: white; padding: 20px; border-radius: 15px;">
            <h4>Order Status</h4>
            <button onclick="location.href='/products'"  style="background-color: white;">Show</button>
        </div>
        <div style="background-color: #2e548a; color: white; padding: 20px; border-radius: 15px;">
            <h4>Log Out</h4>
            <button onclick="location.href='/'"  style="background-color: white;">Log Out</button>
        </div>
        </div>
</body>